@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
}

@keyframes curtainDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes curtainUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.corner-cut {
  position: relative;
  overflow: hidden;
}

.curtain-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ec1d24;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 1;
}

.corner-cut:hover .curtain-effect {
  animation: curtainDown 0.5s ease forwards;
}

.corner-cut:not(:hover) .curtain-effect {
  animation: curtainUp 0.5s ease forwards;
}

.card-content {
  position: relative;
  z-index: 2;
}

.corner-cut::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: transparent white white transparent;
  z-index: 3;
}

.heart-icon {
  transition: opacity 0.5s ease;
}

.corner-cut:hover .heart-icon {
  transition-delay: 0.25s;
  opacity: 0;
}

.corner-cut:hover .heart-icon-hover {
  transition-delay: 0.25s;
  opacity: 1;
}
